
/* html, body {
    height: 100%;
    
}

body{
    width: 300px;
    border: 15px solid bl;
    padding: 50px;
    margin: 20px;
} */

.header{
    text-align: center;
    color: black;
    font-size: 50px;
}

.Box{
    position: absolute;
    right: 30px;
    bottom: 40px;
    max-width: 400px;
    border-radius: 10px;
    height: 30rem;
    width: 30rem;
    padding: 0.5rem;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    color: #515365;
    
    line-height: 20px;
    font-size: 17px;
    font-weight: 500;

    
}


.message{
    color: black;
    font-weight: 700px;
    padding: 0.5rem;
    border: solid 1.5px;
    margin: 5px;
    border-radius: 0.5rem;
    width: max-content;
    height: max-content;
    align-items: flex-start;
    animation: move 500ms linear 1ms infinite;;
    
}

.reply{
    color: black;
    text-align: right;
    padding: 0.5rem;
    border : solid 1.5px;
    margin: 5px;
    border-radius: 5px;
    align-items: flex-start;
    width: max-content;
    
    
    
    
    /*
    color: black;
    font-weight: 700px;
    padding: 0.5rem;
    border: solid 1.5px;
    margin: 5px;
    border-radius: 0.5rem;
    width: max-content;
    height: max-content; */
} 

.input {
    /* font-size: 16px;
   
    padding: 0.25em 0.5em;
    width: 10cm;
    background-color: #fff;
    border: 2px solid;
    border-radius: 2px; */

    
    background-color: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    line-height: 10px;
    font-size: 15px;
    width: 21.2rem;
    border-radius: 0.8rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.1rem;
    margin-bottom: px;
    overflow: auto;
    outline: 3px solid transparent;

    
}

#click{
    height: 40px;
    width: 1.7cm;
    background-color: #f8ceec;
    background-image: linear-gradient(250deg, #f8ceec 0%, #a88beb 74%);
    border-radius: 10px;
    position:absolute;
    right: 0;
    bottom: 0.55rem;
    border-left: 5rem;
   
    

   
}

.container{
    width:40px;
    margin: 70px auto;
    
}

.dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 50%; 


}
.dot1{
    animation: jump-up 0.6s, 0.1s linear infinite;
}   
.dot2{
    animation: jump-up 0.6s, 0.2s linear infinite;
}   
.dot3{
    animation: jump-up 0.6s, 0.3s linear infinite;
}   

 @keyframes jump-up{
    50%{
        transform: translate(0,50px);

    }
}